.placeholder
{
    position: relative;
}

.placeholder::after
{
    position: absolute;
    left: 0;
    top: 0;
    content: attr(data-placeholder);
    pointer-events: none;
}


input {
  border: none !important; /* Removes the default border */
  margin: 0 !important;
  padding: 0;
  outline: none;
  width: 100%;
  }
  ​
  input:focus {
  outline: none /* Removes the border when the input is clicked */
  }
  input:active {
    outline: none;
  }